In [ ]:
Question 1:
Consider the code
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

In [1]:
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

5.0

In [ ]:
Question 2:
start=input("How old were you at the time of joining?")
end=input("How old are you today?")
which of the following code is valid to print congratulations message?

In [10]:
start=input("How old were you at the time of joining?")
end=input("How old are you today?")

How old were you at the time of joining?24
How old are you today?57

In [12]:
str(int(end)-int(start))

'33'

In [22]:
print('Congratulations on ' + str(int(end)-int(start)) + ' Years of service!')

Congratulations on 33 Years of service!

In [ ]:
Question 3:
Consider the code:
x='ACROTE'
y='APPLE'
z='TOMATO'
which of the following won't print 'CAT' to the console

In [27]:
x='ACROTE'
y='APPLE'
z='TOMATO'

In [30]:
x[1]+y[0]+z[0]

'CAT'

In [31]:
x[-5]+y[0]+z[-2]

'CAT'

In [32]:
x[-5]+y[0]+z[0]

'CAT'

In [33]:
x[2]+y[1]+z[1]

'RPO'

In [ ]:
Question 4:
    x='Durga'
    y='Durga'
    result= condition
    print(result)

In [35]:
x='Durga'
y='Durga'

In [36]:
x<y

False

In [37]:
x!=y

False

In [39]:
x is not y

False

In [40]:
x is y

True

In [ ]:
Question 5:
code segment 1:
    a1='10'
    b1=3
    c1=a1*b1
code segment 2:    
    a2=10
    b2=3
    c2=a2/b2
code segment 3:   
    a3=2.6
    b3=1
    c3=a3/b3

In [47]:
a1='10'
b1=3
c1=a1*b1
a2=10
b2=3
c2=a2/b2
a3=2.6
b3=1
c3=a3/b3

In [52]:
c1

'101010'

In [53]:
c2

3.3333333333333335

In [54]:
c3

2.6

In [48]:
type(c1)

str

In [49]:
type(c2)

float

In [50]:
type(c3)

float

In [ ]:
Question 6:
In which of the following cases we will get same result

In [2]:
13//4

3

In [56]:
11/3

3.6666666666666665

In [57]:
3**1

3

In [58]:
23%5

3

In [ ]:
Question 7:
Consider the following lists:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print("n1 is n2")
print('n1==n2')
What is the output?
True/False

In [59]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]

In [60]:
n1

[10, 20, 30, 40, 50]

In [61]:
n2

[10, 20, 30, 40, 50]

In [64]:
print("n1 is n2")

n1 is n2

In [65]:
n1 is n2

False

In [66]:
print("n1 == n2")

n1 == n2

In [67]:
n1 == n2

True

In [ ]:
Question 8:
Consider the python code
a=1
b=3
c=5
d=7
In which of the following cases the result value is 0?

In [69]:
a=1
b=3
c=5
d=7

In [70]:
result=a-b//d

In [71]:
result

1

In [72]:
result=a**d-1

In [73]:
result

0

In [74]:
result=a+b*2

In [75]:
result

7

In [76]:
result=a%b-1

In [77]:
result

0

In [ ]:
Question 9:
Consider the code
s='AB CD'
list=list(s)
list.append('EF')
print(list)

In [127]:
s='AB CD'
list=list[s]
list.append('EF')
print(list)

TypeError: string indices must be integers

In [ ]:
Question 10:
Consider the Python code
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d
if(condition)
    print(valid)
else:
    print(invalid)
To print valid to the console, which condition we have to take as if statement?

In [128]:
a=5
b=10
c=2
d=True
x=a+b*c
print(x)
y=a+b/d
print(y)

25
15.0

In [134]:
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d

if(x>y):
    print("valid")
else:
    print("invalid")

valid

In [ ]:
Question 11:
You are writing a python pogram to read two int values from the keyboard and print the sum.
x= input("Enter first number:")
y= input("Enter second number:")
Which of the following code we have to write at Line-1 to print sum of given numbers?

In [8]:
x= input("Enter first number:")
y= input("Enter second number:")

Enter first number:5
Enter second number:7

In [10]:
str(int(x)+int(y))

'12'

In [13]:
print('The result: '+ str(int(x)+int(y)))

The result: 12

In [17]:
print('The result: '+ str(int(x+y)))

The result: 57

In [ ]:
Question12:
Consider the expression
result=a-b*c+d
Which of the following are valid?

In [26]:
a=20
b=5
c=4
d=8
result= a-b*c+d

In [27]:
result

8

In [28]:
result=a-(b*c)+d

In [29]:
result

8

In [ ]:
# (b*c) is evaluated first, followed by subtraction and addition.

In [ ]:
Question 13:
Consider the following python code:
weight=62.4
zip='80098'
value=+23E4
The value of weight,zip, value variable respectively are:

In [30]:
weight=62.4
zip='80098'
value=+23E4

In [31]:
type(weight)

float

In [32]:
type(zip)

str

In [33]:
type(value)

float

In [ ]:
Question 14:
You are writing a python program. You required to handle data types properly.
Consider the code segment:
a=10+20
b='10'+'20'
c='10'*3
Identify the types of a,b and c.

In [34]:
a=10+20
b='10'+'20'
c='10'*3

In [35]:
type(a)

int

In [36]:
type(b)

str

In [37]:
type(c)

str

In [ ]:
Question 15:
You have the following code
a=bool([False])
b=bool(3)
c=bool("")
d=bool('')
Which of the variables will represents False?

In [43]:
a=bool([False])
b=bool(3)
c=bool("")
d=bool(' ')

In [44]:
a

True

In [45]:
b

True

In [46]:
c

False

In [47]:
d

True

In [ ]:
Question 16:
Consider the following expression
result=(2*(3+4)**2-(3**3)*3)
What is the result value?

In [48]:
result=(2*(3+4)**2-(3**3)*3)

In [49]:
result

17

In [ ]:
Question 17:
Consider the code
a=2
a+=1
line1
To make value as 9, which expression require to place at line1?

In [51]:
a=2
a+=1

In [52]:
a**=2

In [53]:
a

9

In [ ]:
Question 18:
a=bool(0)
b=b00l(3)
c=bool(0.5)
d=bool(0.0)
which variable represent True?

In [57]:
a=bool(0)
b=bool(3)
c=bool(0.5)
d=bool(0.0)

In [59]:
a

False

In [60]:
b

True

In [61]:
c

True

In [62]:
d

False

In [ ]:
Question 19:
a=21
b=6
print(a/b),print(a//b),print(a%b)

In [64]:
a=21
b=6
print(a/b)
print(a//b)
print(a%b)

3.5
3
3

In [ ]:
Question 20:
You are developing a python application for your company.
A list named employees contains 500 employee, the last three being company management. Which of the following represents only
management employees

In [1]:
Employees = []

In [ ]:
Question 21:
subjects=['java', 'python', 'sap']
more_subjects=['java', 'python', 'sap']
extra_subjects= more_subjects
In which cases true will be printed to the console?

In [79]:
subjects=['java', 'python', 'sap']
more_subjects=['java', 'python', 'sap']
extra_subjects= more_subjects

print(extra_subjects is more_subjects)

True

In [81]:
print(subjects is more_subjects)

False

In [80]:
print(subjects is extra_subjects)

False

In [82]:
print(subjects == extra_subjects)

True

In [ ]:
Question 22:
Consider the list
List=['Apple','Banana','Carrot','Mango']
Which of the following are valid ways of accessing Mango?

In [1]:
List=['Apple','Banana','Carrot','Mango']

In [2]:
List[0]

'Apple'

In [3]:
List[-1]

'Mango'

In [4]:
List[3]

'Mango'

In [ ]:
List[4]

In [ ]:
Question 23:
Which of the following code snippet will produce the output:
Boy
Cat
Dog

In [7]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    print(x)

Apple
Boy
Cat
Dog

In [8]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    if len(l)!=3:
        print(x)

Apple
Boy
Cat
Dog

In [20]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    if len(l)== 3:
        print(x)

In [18]:
l=['Apple','Boy','Cat','Dog']
l1 =l[1:]
foe x in l1:
    print(x)

SyntaxError: invalid syntax (Temp/ipykernel_8868/1578117512.py, line 3)

In [ ]:
Question 24:
Consider the lists:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print (numbers is alphabets)
print(numbers == alphabets)
numbers=alphabets
print (numbers is alphabets)
print(numbers == alphabets)

In [2]:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print (numbers is alphabets)
print(numbers == alphabets)
numbers=alphabets
print (numbers is alphabets)
print(numbers == alphabets)

False
False
True
True

In [ ]:
Question 25:
Consider the python code:
age=0
minor=False
name='Durga'
The types of age,minor and name variables respectively:

In [4]:
age=0
minor=False
name='Durga'

In [12]:
type(age)

int

In [13]:
type(minor)

bool

In [14]:
type(name)

str

In [ ]:
Question 26:
Which of the following expression will generate max value?

In [15]:
8//3*4

8

In [16]:
8%3*4

8

In [17]:
8/3*4

10.666666666666666

In [18]:
8-3*4

-4

In [ ]:
Question 27:
Consider the code:
s='python is easy'
s1=s[6:-4]
line 1
print(len(s2))
To print 2 as output, which code we have to insert in line 1?

In [21]:
s='python is easy'
s1=s[6:-4]
s2=s1.strip()
print(len(s2))

2

In [ ]:
Question 28:

In [22]:
a=15
b=5
print(a/b)

3.0

In [ ]:
Question. 29:
You are developing a python application for your company
A list named employees contain 500 employee names
in which case we will get index error while accessing employee names?

In [38]:
list_employees= list[0:500]

In [3]:
list_employees

NameError: name 'list_employees' is not defined

In [2]:
employees[]

SyntaxError: invalid syntax (Temp/ipykernel_10672/3583372473.py, line 1)

In [27]:
employees[-1]

NameError: name 'employees' is not defined

In [ ]:
none of above

In [ ]:
Question 30:
Consider the code 
a=1
b=2
c=4
d=6
which of the following results -4?

In [44]:
a=1
b=2
c=4
d=6
(a+b)//c*d

0

In [45]:
(b+c)//a%d

0

In [46]:
(a+b)//c%d

0

In [47]:
(a+b)//d-c

-4

In [ ]:
Question 31:
Consider the code:
s=('Python is easy')
s1=s[-7:]
s2=s[-4:]
print(s1+s2)
What is the result?

In [55]:
s=('Python is easy')
s1=s[-7:]
s2=s[-4:]
print (s1 + s2)

is easyeasy

In [ ]:
Question 32:
Which of the following is valid python operator precedence order?

In [ ]:
Paranthesis
exponents
unary positive, negative and not
muliplication and division
addition and subtraction
And

In [ ]:
Question 33:
You are writing a python program to evaluate arithmatic expession.
The expression is described as b is equals a multiplied by negative one, 
then raised to second power, where a is the value whih will be input and 
b is the result
a=eval(input('enter a number for the expression:'))
Which of the following is valid expression for given requirement?

In [2]:
a=eval(input('enter a number for the expression:'))

enter a number for the expression:5

In [4]:
b=(-a)**2

In [5]:
b

25

In [ ]:
Question 34:
Consider the following expression:
result=8//6%5+2**3-2
print (result)
What is the result?

In [6]:
result=8//6%5+2**3-2
print (result)

7

In [ ]:
Question 35:
You have the following code:
a=3
b=5
a+=2**3
a-=b//2//3
print(a)
What is the result?

In [7]:
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

11

In [ ]:
Question 36:
Consider the following variable declaration:
a=bool([])
b=bool(())
c=bool(rangr(0))
d=bool({})
e=bool(set())
Which of the above variable represent True?

In [13]:
a=bool([])

In [14]:
b=bool(())

In [15]:
c=bool(range(0))

In [ ]:
d=bool({})

In [16]:
e=bool(set())

In [ ]:
None of above variables represents True

In [ ]:
Question 37:
Consider the python code
number=[10,20,30,40]
x=0
In which of the following cases 10 will be printed to the console?

In [30]:
number=[10,20,30,40]
x=0
for i in (30,40,50):
    if i in number:
        x=x+10
print(x)

20

In [31]:
number=[10,20,30,40]
x=0
for i in (30,40,50):
    if i not in number:
        x=x+5
print(x)

5

In [32]:
number=[10,20,30,40]
x=0
for i in (30,40,50):
    if i in number:
        x=x+5
print(x)

10

In [33]:
number=[10,20,30,40]
x=0
for i in (30,40,50):
    if i not in number:
        x=x+10
print(x)

10

In [ ]:
Question 38:
Consider the following lists:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)
if n1=n2
print(n1 is n2)
print(n1==n2)
What is the result?

In [39]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)
n1=n2
print(n1 is n2)
print(n1==n2)

False
True
True
True